.gsap-hero_circles-wrapper {
  white-space: nowrap;
}
.gsap-hero_circle {
  display: inline-block;
  height: var(--d);
  width: var(--d);
  margin-left: var(--offset);
  border: 1px solid var(--dark-teal);
  border-radius: 100%;
  opacity: 0;
}
.gsap-hero_circle:first-of-type {
  margin-left: -128px;
}
.header_container {
  opacity: 0;
}
.gsap-hero_heading div div div {
  opacity: 0;
}
