.new-hero_circles-container {
  margin: auto;
  white-space: nowrap;
}
.circle {
  display: inline-block;
  height: var(--d);
  width: var(--d);
  margin-left: -64px;
  border: 1px solid #123c42;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.1s linear;
  transition-delay: 1s;
}
.circle:first-of-type {
  margin-left: -128px;
}
.circle.reveal {
  opacity: 1;
}
#new-hero_heading-h1:not(.no-transition) {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
#new-hero_heading-h1.reveal {
  opacity: 1;
}
#new-hero_heading-h1 .font-weight-500 {
  font-weight: 500;
}
#new-hero_heading-h1 #by {
  transition: opacity 0.5s ease-in;
}
.home_new-hero:not(.no-transition) {
  transition: background-color 1s ease-in;
}
.home_new-hero.invert {
  background-color: var(--dark-teal);
}
.home_new-hero.invert:not(.no-transition) {
  transition: all 1s linear;
}
.home_new-hero.invert .circle {
  border-color: var(--light-teal);
}
.home_new-hero.invert #new-hero_heading-h1 {
  color: var(--light-teal);
}
.hidden-text {
  display: none;
}
.hidden-text.reveal {
  display: inline;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.site-wrapper::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.site-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
[data-scroll-snap-align="start"] {
  scroll-snap-align: start;
}
[data-scroll-snap-align="end"] {
  scroll-snap-align: end;
}
[data-scroll-snap-stop="always"] {
  scroll-snap-stop: always;
}
.a-class {
  color: #fff;
}
.w-nav-overlay {
  position: fixed;
}
[data-section="dark-teal"] {
  -webkit-font-smoothing: antialiased;
}
:root {
  --cursor-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='1.5rem' height='1.5rem'%3E%3Ccircle cx='5' cy='5' r='4' fill='none' stroke-width='0.5' stroke='%23123c42'/%3E%3C/svg%3E");
  --cursor-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='1.5rem' height='1.5rem'%3E%3Ccircle cx='5' cy='5' r='4' fill='none' stroke-width='0.5' stroke='%23b9f4d8'/%3E%3C/svg%3E");
  --cursor-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='1.5rem' height='1.5rem'%3E%3Ccircle cx='5' cy='5' r='2.5' fill='%23FEA086' stroke='none'/%3E%3C/svg%3E");
  --process-cursor-1: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 40' width='1.5rem'%3E%3Ccircle cx='5' cy='5' r='2.5' fill='%23fea086' stroke='none'/%3E%3Cg stroke='%23b9f4d8' stroke-width='0.5' fill='none'%3E%3Ccircle cx='5' cy='5' r='4' /%3E%3Ccircle cx='5' cy='15' r='4' /%3E%3Ccircle cx='5' cy='25' r='4' /%3E%3Ccircle cx='5' cy='35' r='4' /%3E%3C/g%3E%3C/svg%3E");
  --process-cursor-2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 40' width='1.5rem'%3E%3Ccircle cx='5' cy='15' r='2.5' fill='%23fea086' stroke='none'/%3E%3Cg stroke='%23b9f4d8' stroke-width='0.5' fill='none'%3E%3Ccircle cx='5' cy='5' r='4' /%3E%3Ccircle cx='5' cy='15' r='4' /%3E%3Ccircle cx='5' cy='25' r='4' /%3E%3Ccircle cx='5' cy='35' r='4' /%3E%3C/g%3E%3C/svg%3E");
  --process-cursor-3: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 40' width='1.5rem'%3E%3Ccircle cx='5' cy='25' r='2.5' fill='%23fea086' stroke='none'/%3E%3Cg stroke='%23b9f4d8' stroke-width='0.5' fill='none'%3E%3Ccircle cx='5' cy='5' r='4' /%3E%3Ccircle cx='5' cy='15' r='4' /%3E%3Ccircle cx='5' cy='25' r='4' /%3E%3Ccircle cx='5' cy='35' r='4' /%3E%3C/g%3E%3C/svg%3E");
  --process-cursor-4: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 40' width='1.5rem'%3E%3Ccircle cx='5' cy='35' r='2.5' fill='%23fea086' stroke='none'/%3E%3Cg stroke='%23b9f4d8' stroke-width='0.5' fill='none'%3E%3Ccircle cx='5' cy='5' r='4' /%3E%3Ccircle cx='5' cy='15' r='4' /%3E%3Ccircle cx='5' cy='25' r='4' /%3E%3Ccircle cx='5' cy='35' r='4' /%3E%3C/g%3E%3C/svg%3E");
}
section,
.nav-menu--left,
[data-theme="light-teal"],
[data-theme="cream"] {
  cursor: var(--cursor-dark), auto;
}
[data-section="dark-teal"],
[data-theme="dark-teal"],
.nav-menu--right,
footer {
  cursor: var(--cursor-light), auto;
}
:any-link,
button,
.button,
[role="button"],
.team-member {
  cursor: var(--cursor-active), auto;
}
.our-process-section {
  cursor: var(--process-cursor-1), auto;
}
.tns-outer,
.tns-ovh,
.tns-inner,
.tiny-slider,
.tns-item,
.tiny-slider_slide-embed {
  height: 100%;
}
.tiny-slider_slide-embed {
  height: 100%;
  width: fit-content;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}
.tns-item {
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}
.tns-item[aria-hidden="true"] {
  transition: transform 0s;
}
.active-slide1 {
  transform: scale(1);
}
.tiny-slider_slide-overlay {
  transition: opacity 0.5s ease-in-out;
}
.active-slide1 .tiny-slider_slide-overlay {
  opacity: 0;
}
.gsap-hero_circles-wrapper {
  white-space: nowrap;
}
.gsap-hero_circle {
  display: inline-block;
  height: var(--d);
  width: var(--d);
  margin-left: var(--offset);
  border: 1px solid var(--dark-teal);
  border-radius: 100%;
  opacity: 0;
}
.gsap-hero_circle:first-of-type {
  margin-left: -128px;
}
.header_container {
  opacity: 0;
}
.gsap-hero_heading div div div {
  opacity: 0;
}
[data-theme="dark-teal"] {
  --nav-color: var(--light-teal);
}
[data-theme="light-teal"] {
  --nav-color: var(--dark-teal);
}
[data-theme="cream"] {
  --nav-color: var(--dark-teal);
}
.header-logo-svg {
  transition: color 0.2s ease-in-out;
}
.header-logo-svg {
  color: var(--nav-color) !important;
}
.header_container.nav-open .header-logo-svg {
  color: var(--dark-teal) !important;
}
.gsap-hero_circles-wrapper {
  white-space: nowrap;
}
.gsap-hero_circle {
  display: inline-block;
  height: var(--d);
  width: var(--d);
  margin-left: var(--offset);
  border: 1px solid var(--dark-teal);
  border-radius: 100%;
  opacity: 0;
}
.gsap-hero_circle:first-of-type {
  margin-left: -128px;
}
.header_container {
  opacity: 0;
}
.gsap-hero_heading div div div {
  opacity: 0;
}
